.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 50px;
    width: 20%;
    height: 300px;
    margin: 150px auto;
    background-color:#20dad8  ;
   
  }