body{
  display:flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
margin:0px;
 
}

.calc{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  border-style: solid;
  border-color: blue;
}

.display{
  grid-column: span 4 ;
  padding:30px;
  border-style: solid;
  border-color: aqua;
}

.btn-op,.btn-num{
  font-size:25px;
}